.contactbody {
    background-image: url('./Assets/Images/cork-board.png');
    margin: 15%;
    text-align: center;
    background-size: cover;
}

/* I cant figure out why my image stops half way thru my page - im assuming it's got to do with my box I created ??? */

/* I can not get this to work for the life of me!!!! */
.indexstyle {
    background-image: url('./Assets/Images/watercolor.png');
    margin: 15%;
    text-align: center;
    background-size: cover;
}


#contactnav {
    background-color: burlywood;
    color: black;
}

#indexnav {
    background-color: hotpink;
}

h1 {
    color: purple;
}

.img-responsive {
    width: 200px;
    height: 350px;
    float: left;
    padding: 20px;
}

p {
    font-size: medium;
    text-align: : center;
    font-family: "Times New Roman", Times, serif;
}


/* im not sure if the css.style page and the html page are conflicting w/the each other but my background is ont filling my page */